<script type="text/ng-template" id="myModalContent.html">
          <div class="modal-header">
              <h3 class="modal-title">Choose your opponent</h3>
          </div>
          <div class="modal-body">
              <ul>
                  <li ng-repeat="item in items">
                      <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                  </li>
              </ul>
              Selected: <b>{{ selected.item }}</b>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
              <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
          </div>
</script>

      <button type="hidden" id="start_button" ng-click="open()" style="visibility: hidden;">Open me!</button>
  </div>

<div class="container">
   

<div class="row">

    <div class="col-md-6 col-xs-6">
        <DIV id="map" max-width="dimension" height="dimension"></DIV>
    </div>
    <div class="col-md-4 col-xs-4">
        <textarea id="text_area" rows="4" cols="50" readonly></textarea>
    <input type="text" ng-model="SCORE" readonly></input>
    <button id="score" ng-click="postScore(SCORE, 'Amir')" type="button">Save Score</button>
    <button id="reset" type="button">Reset</button>
    </div>
     <div class="col-md-2 col-xs-2">
        <ul>
            <li class="list-group-item" ng-repeat="wall in walls" style="background-color:{{wall.path.attrs.stroke}}; font-weight:bold; font-size:1.5em"h>{{wall.id}}</li>
        </ul>
    </div>
</div>

</div>
